html,
body {
  background-color: #050608 !important;
  color: white !important;
  box-sizing: border-box;
  border-color: white !important;
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    margin-top: 1rem;
  }
}

.navbar .container-fluid .logo {
  width: 70px;
  height: auto;
}

.navbar .container-fluid .navbar-brand {
  transition: all 0.2s ease;
}

.navbar .container-fluid .navbar-brand:hover {
  color: #cf9749 !important;
}

.navbar-nav .nav-item .active {
  color: #cf9749 !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #cf9749 !important;
}

/* HERO SECTION */
.hero-section .bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-section .hero-content .reserve-btn {
  border: none;
  color: white;
  padding: 8px 25px !important;
  background-color: #cf9749 !important;
  transition: background-color 0.2s ease;
}

.hero-section .hero-content .reserve-btn:hover {
  background-color: #ac711f !important;
}

/* INTRO */

.intro-container .image-container {
  width: auto;
  height: 300px;
}

.intro-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro-container .learn-btn {
  border: none;
  color: white;
  padding: 8px 25px !important;
  background-color: #cf9749 !important;
  transition: background-color 0.2s ease;
}

.intro-container .learn-btn:hover {
  background-color: #ac711f !important;
}

/* FEATURED SECTION */
.featured-section .card {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(48, 48, 48);
  color: #ffffff;
  text-align: center;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.featured-section .card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgb(207, 151, 73, 0.2) !important;
}

.featured-section .card .img-container {
  height: 200px;
  width: 100%;
}
.featured-section .card .img-container .card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.featured-section .card .star-container .bi {
  color: #cf9749;
}
