html,
body {
  background-color: #050608;
  color: white;
  box-sizing: border-box;
  border-color: white !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar .container-fluid .logo {
  width: 70px;
  height: auto;
}

.navbar .container-fluid .navbar-brand {
  transition: all 0.2s ease;
}

.navbar .container-fluid .navbar-brand:hover {
  color: #cf9749 !important;
}

.navbar-nav .nav-item .active {
  color: #cf9749 !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #cf9749 !important;
}

/* HERO SECTION */
.hero-section .bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-section .hero-content .reserve-btn {
  border: none;
  color: white;
  padding: 8px 25px !important;
  background-color: #cf9749 !important;
  transition: background-color 0.2s ease;
}

.hero-section .hero-content .reserve-btn:hover {
  background-color: #ac711f !important;
}

/* INTRO */

.intro-container .image-container {
  width: auto;
  height: 300px;
}

.intro-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
